@-ms-viewport {
    max-zoom: 1;
    min-zoom: 1;
    user-zoom: 1;
}

@-o-viewport {
    max-zoom: 1;
    min-zoom: 1;
    user-zoom: 1;
}

@viewport {
    max-zoom: 1;
    min-zoom: 1;
    user-zoom: 1;
}

html, body {
    cursor: none;
    overscroll-behavior: contain;
    user-scalable: no;
    position: relative;
    touch-action: manipulation;
    width: 100%;
    height: 100%;
    margin: 0;
}

#canvas {
    overscroll-behavior: contain;
    user-scalable: no;
    position: relative;
    touch-action: manipulation;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}